APP_NAME=Bodetronic
SECRET_KEY=cambia_esta_clave
DATABASE_URL=sqlite:///./bodetronic.db
MASTER_USER=73221820
MASTER_PASS=jdiazg20
SUPPORT_WHATSAPP=51992657332
BASE_URL=
UPLOAD_DIR=uploads
VISUAL_MATCH_DISTANCE=18
